series\ of\ tubes.pdf
*.aux
*.bbl
*.synctex.gz
*.log
*.out
*.blg
*~$*.SLDPRT
*appautosave/*
example_objects/appautosave/*
example_objects/large-ignore/*
example_objects/source_files/appautosave/*
paper/figures/examples.ai
paper/figures/types.ai
video/live_action
